
<div id = "mainWrapper" > 

    <div id = "listWrapper"  (click) = "print()" >

        <div id = "entryDiv"  (mouseover) = "setSubjectKey(entry)"  (click) = "sendUrlParams()"  *ngFor = "let entry of entrysList"   > 

            <div id = "entryNameDiv" >  <label id = "entryNameElement" > {{entry.entryTitle}}       </label>  </div>
            <div id = "entryDescDiv" >  <label id = "entryDiscElement" > {{entry.entryDescription}} </label>  </div>
             
        </div>
 
    </div>

</div>

