

<div id = "mainWrapper" >

    <div id = "headerDiv" >

        <div id = "headerImgDiv" > <img  id = "headerImgElement" [src] = "notifications.searchImgUrl"  /> </div>

        <div id = "headerUserPanelDiv" >

            <div id = "headerTitleDiv" > <label id = "headerTitleElement" >  {{notifications.titleText}}  </label>     </div>

            <div id = "headerInputDiv" > <input  id = "headerInputBox"  placeholder = {{notifications.boxHolderText}}  [(ngModel)] = 'defaultValue'   (keyup) = 'getUserInput(inputBoxRef.value)'  #inputBoxRef >  </div>

        </div>

    </div>

    <div id = "entrysListComponentDiv" >

        <entrys-list  [setEntrysList] = 'entrys'  [searchKey] = 'searchName'  > </entrys-list>
        
    </div>

</div>

